<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tên Thể Loại</th>
                <th>Ngày Tạo</th>
            </tr>
        </thead>
    
            @foreach(var item in @ViewBag.theloai)
            {
                <tbody>
                <tr>
                    <td width="30%">@item.Name</td>
                    <td width="70%">@string.Format("{0:dd/MM/yyyy}",item.DateCreated)</td>
                </tr>
                </tbody>
            }
 
    </table>
    <a asp-controller="TheLoai" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>