
@{
    ViewData["Title"] = "BaiTap2";
}

@model SanPhamViewModel
@if (Model.TenSanPham != null && Model.GiaBan!=null)
{
    <h3>Thông tin sản phẩm</h3>
    <p>Tài khoản: @Model.TenSanPham</p>
    <p>Mật khẩu: @Model.GiaBan</p>
    <p>Mật khẩu: <img src="@Url.Content(Model.AnhMoTa)" width="100" height="70"/></p>
}

