<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng cửu chương</title>
</head>
<body>
    <center><h1>Bảng cửu chương</h1></center>
    <center>
    @for( int k=2;k<=10;k++)
        {
            
        @for (int i = 1;i<= 10;i++)
    {
         <h3>@k x @i = @(k*i) </h3>
    }
    <hr/>
        }
    </center>
</body>
</html>
