
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Top 1 SV Group</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Giới Thiệu Bản Thân</a></li>
            <li><a href="~/gioi-thieu">Nhóm</a></li>

        </ul>
    </nav>

    <article>
        <table>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
                <tr>
                    <td>1</td>
                    <td>1822040049</td>
                    <td>Nguyễn Hoàng Mạnh</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822031202</td>
                    <td>Huỳnh Thanh Liêm</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1721031026</td>
                    <td>Nguyễn Phước Thảo</td>
                </tr>
        </table>
    </article>
</section>

<footer>
    <p>CopyRight &copy; Nguyễn Hoàng Mạnh - @DateTime.Now.Year</p>
</footer>


