
@{
    ViewData["Title"] = "DangKy";
}
@model TaiKhoanViewModel
<div class="container">
    <h3>Đăng ký</h3>
    <form method="post">
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" type="text" class="form-control" />
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
    @if(Model.Password!=null&&Model.Password.Length>0)
    {
        <h3>Thông tin đã nhập</h3>
        <p>Tài khoản: @Model.Username</p>
        <p>Mật khẩu: @Model.Password</p>
    }
</div>
