@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Top 1 SV Group</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Giới Thiệu Bản Thân</a></li>
            <li><a href="~/gioi-thieu">Nhóm</a></li>
            
        </ul>
    </nav>

    <article>
        <h1>Nguyễn Hoàng Mạnh</h1>
       
    </article>
</section>

<footer>
    <p>CopyRight &copy; Nguyễn Hoàng Mạnh - @DateTime.Now.Year</p>
</footer>
